@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, cupcake;
 }

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
nav a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}
nav a.active {
  margin-right: 1rem;
  color: black;
  font-weight: 600;
  font-size: large;
}
